@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-sidebar-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-sidebar-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.custom-sidebar-scroll:hover {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

.custom-sidebar-scroll:hover::-webkit-scrollbar {
  width: 6px;
}

.custom-sidebar-scroll:hover::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.custom-sidebar-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.custom-sidebar-scroll:hover::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 114, 128, 0.7);
}
